openapi: 3.0.0
info:
  title: Purview Search API
  version: "2023-09-01"
  description: >
    This API endpoint allows you to search for an asset by its fully qualified name.
servers:
  - url: https://purtoso.purview.azure.com
    description: Purview endpoint
    variables:
      endpoint:
        default: "your-purview-endpoint"
        description: The fully qualified host name for your Purview account.
paths:
  /datamap/api/search/query?api-version=2022-08-01-preview:
    post:
      summary: Search for an asset by keyword or fully qualified name
      operationId: queryAssetByKeywords
      requestBody:
        description: Query request payload.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keywords:
                  type: string
                  description: The fully qualified name (FQN) of the asset.
              required:
                - keywords
              example:
                keywords: "your-asset-fqn"
      responses:
        "200":
          description: Successful query response.
          content:
            application/json:
              schema:
                type: object
                description: Placeholder response schema.
                properties:
                  result:
                    type: string
                    description: A message indicating success.
                    example: "Query executed successfully"
        "400":
          description: Bad Request – The request was invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input"
        "500":
          description: Internal Server Error – An unexpected error occurred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "An unexpected error occurred"
      security:
        - bearerAuth: []
